/* body {
  font-family: sans-serif;
}

button::after {
    content: ' ⚔';
  }

#profile {
    width: 50vw;
}

#profile h1 {
    font-size: 1.5em;
}

#profile p {
    font-size: 0.6em;
    margin: 10px 0;
} */